.tejido__container {
  position: relative;
}

.tejido-grid__container {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
}

.row {
  height: 100%;
  display: flex;
}

.cell {
  width: 16px;
  height: 16px;
  z-index: 100;
  box-sizing: border-box;
  background-position: center;
}
.cell.active {
  box-sizing: border-box;
  z-index: 200;
  background-position: center;
}

.cell.border {
  border: 0.5px solid rgb(0, 170, 255);
}

.tejido-grid__image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.tejido-grid__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
